/* Media Queries */ /* Mobile devices (up to 600px) */
@media (max-width: 600px) {
  .summary {
    flex-direction: column;
    text-align: center;
  }
  table {
    width: 100%;
    font-size: 14px;
  }
  .content-table th,
  .content-table td {
    padding: 8px;
  }
  .main-input {
    padding: 10px;
  }
  .budgetform {
    display: block;
    margin-bottom: 20px;
  }
  .form-input {
    width: calc(100% - 20px);
  }
  .output-table {
    padding: 20px;
  }
  .logo {
    display: none;
  }
  .total h2 {
    font-size: 1.2em;
  }
  button {
    padding: 12px;
  }
} /* Tablets (600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .summary {
    flex-direction: column;
    text-align: center;
  }
  table {
    width: 100%;
    font-size: 16px;
  }
  .main-input {
    padding: 20px;
  }
  .budgetform {
    display: block;
    margin-bottom: 20px;
  }
  .form-input {
    width: calc(100% - 20px);
  }
  .output-table {
    padding: 20px;
  }
  .logo {
    display: none;
  }
  .total h2 {
    font-size: 1.5em;
  }
  button {
    padding: 12px;
  }
} /* Desktops (1024px and above) */
@media (min-width: 1025px) {
  .summary {
    flex-direction: row;
  }
  table {
    width: 100%;
    margin: 20px auto;
  }
  .total h2 {
    font-size: 1.8em;
  }
  button {
    padding: 15px;
  }
  .logo {
    display: block;
  }
}
